<div class="skillBar mb-2 mb-sm-4" id="@ID">
    <span class="position-absolute ml-4">@Title</span>
</div>

@code {

    [Parameter]
    public string ID { get; set; }

    [Parameter]
    public string Title { get; set; }

}
