

<a class=@Classes
   href=@Link
   target="_blank">
    @Text
    <img src="./img/@Path"
         alt="ikona @Text" width="16" height="16"/>
</a>

@code {
    [Parameter]
    public string Classes { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Path { get; set; }

    [Parameter]
    public string Link { get; set; }

}
