<ProjectsContainer Classes="projectsContainer" @ref="projectsContainer" Visible="Visible" OnLoadedProjects="OnLoadedProjects">
    <CascadingValue Value="this" IsFixed="true">
        <ProjectCard Github="https://github.com/Radekk0002/Calendar" Website="https://calendar.radekkisiel.pl" Path="./img/projects/web/Calendar/calendar.png" BorderColor="purple">
            <Text>
                <h6>Calendar</h6>
                <p class="d-flex justify-content-center align-items-center m-3">
                    Calendar where you can save, edit, delete your upcoming events (day/month/year and hour).
                    To do anything you need to create account. All events are saved in SQL Server database.
                </p>
            </Text>
            <Tech>
                <img src="./img/techLogo/blazor.svg" alt="ikona blazor" width="25" height="25" />
                <img src="./img/techLogo/mssql.svg" alt="ikona SQL Server" width="25" height="25" />
            </Tech>
        </ProjectCard>
        <ProjectCard Github="https://github.com/Radekk0002/WeatherApp" Website="https://weatherforecast.radekkisiel.pl/" Path="./img/projects/web/WeatherApp/weatherApp.png" BorderColor="purple">
            <Text>
                <h6>Weather forecast</h6>
                <p class="d-flex justify-content-center align-items-center m-3">
                    Weather forecast for the next 7 days. It gets your location when loaded and shows forecast.
                    You can search for different place in the world. It uses APIs for places and forecasts.
                </p>
            </Text>
            <Tech>
                <img src="./img/techLogo/blazor.svg" alt="ikona blazor" width="25" height="25"/>
                <img src="./img/techLogo/javascript.svg" alt="ikona Javascript" width="25" height="25"/>
            </Tech>
        </ProjectCard>
        <ProjectCard Github="https://github.com/Radekk0002/LiveChat" Website="https://livechat.radekkisiel.pl/" Path="./img/projects/web/LiveChat/main.png" BorderColor="purple">
            <Text>
                <h6>Live Chat</h6>
                <p class="d-flex justify-content-center align-items-center m-3">
                    Simple live chat app that allows sending messages to everyone on the website.
                    Every user has its own nickname generated on the server-side so that noone can impersonate others.
                </p>
            </Text>
            <Tech>
                <img src="./img/techLogo/blazor.svg" alt="ikona blazor" width="25" height="25"/>
                <img src="./img/techLogo/javascript.svg" alt="ikona Javascript" width="25" height="25"/>
            </Tech>
        </ProjectCard>
        <ProjectCard Website="https://portfoliod.radekkisiel.pl" Path="./img/projects/web/PortfolioD/home.png" BorderColor="yellow">
            <Text>
                <h6>Portfolio</h6>
                <p class="d-flex justify-content-center align-items-center m-3">
                    Portfolio site created for a friend. He designed the site and I did all the coding.
                </p>
            </Text>
            <Tech>
                <img src="./img/techLogo/html.svg" alt="ikona HTML" width="25" height="25"/>
                <img src="./img/techLogo/css.svg" alt="ikona CSS" width="25" height="25"/>
                <img src="./img/techLogo/javascript.svg" alt="ikona Javascript" width="25" height="25"/>
            </Tech>
        </ProjectCard>
        <ProjectCard Github="https://github.com/Radekk0002/Snake" Website="https://smallprojects.radekkisiel.pl/snake" Path="./img/projects/web/Snake/main.png" BorderColor="yellow">
            <Text>
                <h6>Snake Game</h6>
                <p class="m-3">
                    A little bit more difficult snake.
                </p>
            </Text>
            <Tech>
                <img src="./img/techLogo/html.svg" alt="ikona HTML" width="25" height="25"/>
                <img src="./img/techLogo/css.svg" alt="ikona CSS" width="25" height="25"/>
                <img src="./img/techLogo/javascript.svg" alt="ikona Javascript" width="25" height="25"/>
            </Tech>
        </ProjectCard>
        <ProjectCard Github="https://github.com/Radekk0002/PhoneBook_React" Path="./img/projects/web/contactApp/contactapp.png" BorderColor="blue">
            <Text>
                <h6>Phone Book</h6>
                <p class="m-3">
                    Phone book created with React and NodeJS. Here you can create account and add your contacts that will be stored in MySQL database.
                    So the next time you log in, they will be waiting there for you.
                </p>
            </Text>
            <Tech>
                <img src="./img/techLogo/react.svg" alt="ikona React" width="25" height="25"/>
                <img src="./img/techLogo/nodejs.svg" alt="ikona NodeJS" width="25" height="25"/>
                <img src="./img/techLogo/css.svg" alt="ikona CSS" width="25" height="25"/>
                <img src="./img/techLogo/mysql.svg" alt="ikona MySQL" width="25" height="25"/>
            </Tech>
        </ProjectCard>
        <ProjectCard Github="https://gitlab.com/radekk0002/currencycalculator" Website="https://smallprojects.radekkisiel.pl/currencyCalculator/" Path="./img/projects/web/SmallProjects/currencyCalculator.png" BorderColor="blue">
            <Text>
                <h6>Currency Calculator</h6>
                <p class="m-3">
                    Calculator that allows to calculate currency. It gets current exchange rate from NBP API.
                </p>
            </Text>
            <Tech>
                <img src="./img/techLogo/react.svg" alt="ikona React" width="25" height="25"/>
                <img src="./img/techLogo/ts.svg" alt="ikona TypeScript" width="25" height="25"/>
                <img src="./img/techLogo/jss.png" alt="ikona JSS" width="25" height="25"/>
            </Tech>
        </ProjectCard>
        <ProjectCard Github="https://github.com/Radekk0002/Grafy" Website="https://smallprojects.radekkisiel.pl/graph" Path="./img/projects/web/SmallProjects/graph.png" BorderColor="yellow">
            <Text>
                <h6>Project for class</h6>
                <p class="d-flex justify-content-center align-items-center m-3">
                    Algorithm that finds the shortest cycle in directed graph.
                </p>
            </Text>
            <Tech>
                <img src="./img/techLogo/html.svg" alt="ikona HTML" width="25" height="25"/>
                <img src="./img/techLogo/css.svg" alt="ikona CSS" width="25" height="25"/>
                <img src="./img/techLogo/javascript.svg" alt="ikona Javascript" width="25" height="25"/>
            </Tech>
        </ProjectCard>
        <ProjectCard Github="https://github.com/Radekk0002/Calculator2" Website="https://smallprojects.radekkisiel.pl/calculator" Path="./img/projects/web/SmallProjects/calculator.png" BorderColor="yellow">
            <Text>
                <h6>Calculator</h6>
                <p class="d-flex justify-content-center align-items-center m-3">
                    Calculator with order of operations
                </p>
            </Text>
            <Tech>
                <img src="./img/techLogo/html.svg" alt="ikona HTML" width="25" height="25"/>
                <img src="./img/techLogo/css.svg" alt="ikona CSS" width="25" height="25"/>
                <img src="./img/techLogo/javascript.svg" alt="ikona Javascript" width="25" height="25"/>
            </Tech>
        </ProjectCard>
    </CascadingValue>
</ProjectsContainer>

@code {
    internal ProjectsContainer projectsContainer;

    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback OnLoadedProjects { get; set; }

}
