<style>
    div {
        color: #E7E8E9;
        text-align:center;
    }

    h2 {
        font-size: 2.5rem;
    }

    a {
        display: block;
        width: 15ch;
        height: 40px;
        line-height: 40px;
        border: 1px solid #FF786B;
        font-size: 1.5rem !important;
        border-radius: 10px;
        text-align: center;
        text-decoration: none;
        color: #E7E8E9;
        transition: transform .3s linear;
    }

        a:hover {
            color: #E7E8E9;
            text-decoration: none;
            transform: scale(1.1);
        }
</style>

<div class="flex-column justify-content-center align-items-center mt-5">
        <h2>Oops There is nothing at this site</h2>
        <a class="mt-5 mb-5 ml-auto mr-auto" href="/">Go back</a>
</div>
